@model ISM6225FinalProject.Models.Places
<h1>About Team 5</h1>
<hr />
<p>
    <table>
        <tbody>
            <tr>
                <th>
                    Group 5
                </th>
            </tr>
            <tr>
                <td align="left">
                    Rameez Badri
                </td>
            </tr>
            <tr>
                <td align="left">
                    Neelima Ketineni
                </td>
            </tr>
            <tr>
                <td align="left">
                    Eric Young
                </td>
            </tr>
        </tbody>
    </table>
</p>
<br />
<p>
    We are an enthusiastic group of Tampa Explorers that take your Tampa tourism experience to the next level and make it a memorable one that lasts a lifetime!!
</p>
<br />
<p>
    We promote Tourism for Tampa as it is known for being a great city for all ages and tastes, offering hotel accommodations that fit any budget and catering to everyone, including families, outdoor adventure seekers, and foodies and wine connoisseurs. Once known as a melting pot for all cultures and settlers, Tampa remains a welcoming place for those seeking fun, opportunity and a chance to try new things.
</p>
<br />
<p>
    With its mix of historic architecture and modern landmarks, a culture infused with Cuban and Spanish flavors, vibrant business districts and beautiful waterways, Tampa is a wonderful place to work, play and unwind.
</p>
<br />
<p>We help you unlock Tampa Bay, the heart of Florida’s Gulf coast, discover blue skies and sunshine, explore sparkling waterfront, identify world-class chefs, find family fun, and  unleash a century of Cuban culture – all in Florida’s most diverse travel destination. 
</p>
<br/>
<p>We ensure you experience the best of Tampa Bay’s cuisine which is just as unique and rich as our culture. Sip on lavish libations at our waterfront bistros and bars
</p>
<br />
<p>In Tampa Bay, our hospitality is as warm as our weather!!!</p>