@model ISM6225FinalProject.Models.Places

                <img src="https://www.artstampabay.com/wp-content/uploads/sites/www.artstampabay.com/images/2017/02/city-of-tampa-logo-400x400.jpg" alt="City Logo" width=20% height=20% />

    <hr />
    <p>
        The population of Tampa is approximately 392,800 making it the 3rd largest city in Florida and the 53rd largest city in the United States. Tampa is part of the metropolitan area most commonly referred to as the "Tampa Bay Area" which has an approximate population of 3 .1 million. It is located on the west coast of Florida with an average annual temperature of 73.1 degrees. Tampa's economy is founded on a diverse base that includes tourism, agriculture, construction, finance, health care, government, technology, and the Port of Tampa which is the largest port in the State of Florida.
    </p>
    <br />
    <div>
        <p>
            <h2>Tampa Government</h2>
            <ul>
                <li><a href="https://www.tampagov.net/mayor" target="_blank">Mayor's Office</a></li>
                <li><a href="https://www.tampagov.net/city-clerk" target="_blank">Office of the City Clerk</a></li>
                <li><a href="https://www.tampagov.net/city-council" target="_blank">Tampa City Council</a></li>
                <li><a href="https://www.tampagov.net/city-clerk/info/boards-and-commissions" target="_blank">Boards and Commissions</a></li>
                <li><a href="https://www.tampagov.net/departments" target="_blank">Departments</a></li>
                <li><a href="https://www.tampagov.net/info/laws-and-ordinances" target="_blank">Laws and Ordinances</a></li>
                <li><a href="https://apps.tampagov.net/appl_customer_service_center/" target="_blank">City Services</a></li>
                <li><a href="https://www.tampagov.net/public-affairs/info/directors-and-key-contacts" target="_blank">Key Contacts</a></li>
                <li><a href="https://www.tampagov.net/info/other-government-offices" target="_blank">Links to Other Government Agencies</a></li>
            </ul>
        </p>
    </div>
