@{
    ViewData["Title"] = "Index";
}

<h2><marquee>Welcome to Tampa!</marquee></h2>
<hr />
<p>Tampa is a major city in, and the county seat of, Hillsborough County, Florida, United States. It is on the west coast of Florida on Tampa Bay, near the Gulf of Mexico. Tampa is the largest city in the Tampa Bay Area. With a population of 399,700 in 2019, Tampa is the third-largest city in Florida, after Miami and Jacksonville. The bay's port is the largest in the state, near downtown's Channel District. Bayshore Boulevard runs along the bay, and is east of the historic Hyde Park neighborhood.</p>
<br />


<table>
        <tr>
            <td width="25%">
                <div>
                    <p>
                        <h2>Top Attractions:</h2>
                        <ul>
                            <li><a href="https://buschgardens.com/tampa/" target="_blank">Busch Gardens</a></li>
                            <li><a href="http://www.mosi.org/" target="_blank">Museum of Science and Industry</a></li>
                            <li><a href="http://www.lowryparkzoo.org/" target="_blank">Tampa Zoo at Lowry Park</a></li>
                            <li><a href="https://www.flaquarium.org/" target="_blank">Florida Aquarium</a></li>
                            <li><a href="https://glazermuseum.org/" target="_blank">Glazer Children's Museum</a></li>
                            <li><a href="http://ybor.org/" target="_blank">Ybor City</a></li>
                            <li><a href="http://tampabayhistorycenter.org/" target="_blank">Tampa Bay History Center</a></li>
                            <li><a href="https://thedali.org/" target="_blank">Salvador Dali Museum</a></li>
                            <li><a href="https://www.tampagov.net/riverwalk" target="_blank">The Tampa Riverwalk</a></li>
                        </ul>
                        <h2>Cities around Tampa:</h2>
                        <ul>
                            <li><a href="https://en.wikipedia.org/wiki/Brandon,_Florida" target="_blank">Brandon, FL</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Mango,_Florida" target="_blank">Mango, FL</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Temple_Terrace,_Florida" target="_blank">Temple Terrace, FL</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Citrus_Park,_Florida" target="_blank">Citrus Park, FL</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Oldsmar,_Florida" target="_blank">Oldsmar, FL</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Lutz,_Florida" target="_blank">Lutz, FL</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Pinellas%20Park,_Florida" target="_blank">Pinellas Park, FL</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/St._Petersburg,_Florida" target="_blank">Saint Petersburg, FL</a></li>
                        </ul>
                        <br />
                        <br />
                    </p>

                </div>
            </td>
    <td width="75%" valign="top">
        <div class="container" style="width:60%;">
            <h2>Some Images</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://lh3.googleusercontent.com/proxy/Y3Vz3mIl0G2LulKlauT3neKxgVFL_Gyov4HrqrzcGYIeQMkNfbN_8y4N8CEXKr1sztLJ9BApjprltW8sUAWmN5N3ixifxDrC686AUo819P-8ugLtZiwxY3aLCSfaNgNkpZCMIrX_w8kf0MdZYyYIOMZAb3TSmcfEAY71jXYA761BmObdG6Ra6kf3PLpwHxB4xWUcTydgjQNbUEJonu1daXBly4TpTGW4gwos4-WdYw" alt="City of Tampa" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="https://www.tampabay.com/resizer//d3ZAO-dvIXBQxyhlC-EhRzDqsVc=/1140x641/smart/arc-anglerfish-arc2-prod-tbt.s3.amazonaws.com/public/PKG7Y5WEREI6TKTRIBWI6S7HAY.jpg" alt="Tampa Skyline" style="width: 100%;">
                    </div>

                    <div class="item">
                        <img src="https://www.wfla.com/wp-content/uploads/sites/71/2020/04/bucs_1552661303448_71582599_ver1.0-7-1-1.jpg?w=900" alt="Buccaneers" style="width: 100%;">
                    </div>

                    <div class="item">
                        <img src="https://www.tampagov.net/sites/default/files/styles/slideshow_full_2016/public/web-team/images/fire_1.jpg?itok=Ews8Aqcb" alt="Tampa Fire Rescue" style="width: 100%;">
                    </div>

                    <div class="item">
                        <img src="https://www.tampagov.net/sites/default/files/styles/slideshow_full_2016/public/web-team/images/transportation_2.jpg?itok=m37JA-3r" alt="Tampa Electric" style="width: 100%;">
                    </div>

                    <div class="item">
                        <img src="https://www.tampagov.net/sites/default/files/styles/slideshow_full_2016/public/web-team/images/fleet_3.jpg?itok=Fh9WZXg4" alt="Tampa Engineering" style="width: 100%;">
                    </div>

                    <div class="item">
                        <img src="https://ak.picdn.net/shutterstock/videos/18348361/thumb/12.jpg" alt="Tampa Skyline at night!" style="width: 100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </td>
    </tr>
</table>